html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-input {
    width: 80%;
    height: 30px;
    border-radius: 12px;
    outline: none;
    margin-bottom: 10px;
}

#flickr-img {
    text-align: center;
}

#search-bar {
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
    position: relative;
}

#search-bar form {
    width: 100%;
}

#map {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#locations {
    text-align: center;
}

#locations ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#locations ul li {
    margin: 0px auto;
    padding: 2px 5px;
}

#locations ul li button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #50f442;
    color: #ffffff;
    outline: none;
}
